icp
icp/*
doxygen
doxygen/*
*.avi
*.o
#*#
results
results/*
data_sets
data_sets/*
*.png
*.jpg
./Makefile
TAGS
bin/*
bin
config
config/*
data
data/*
ttrack
*.sdf
*.exe
build/ipch
build/Debug
build/x64
build/Release
build/ttrack_tests/Debug
build/ttrack_tests/Release
ipch
./ipch/*
build/ttrack.opensdf
build/ttrack.suo
*.xyz
*.stl
frame_*
all_frames
deps
deps/*
deps/quaternion
deps/quaternion/*
deps/image
scripts/data