doxygen
doxygen/*
*.avi
*.o
#*#
results
results/*
data_sets
data_sets/*
*.png
*.jpg
./Makefile
TAGS
bin/*
bin
config
config/*
data
data/*
ttrack
*.sdf
*.exe
_ttrack.sln
_ttrack.v11.suo
_ttrack.vcxproj
_ttrack.vcxproj.filters
